NUXT_PUBLIC_BASE_URL=https://api.zortaksi.uz/api/v1
NUXT_PUBLIC_SOCKET_URL=https://api.zortaksi.uz
NUXT_PUBLIC_APP_URL=https://zortaksi.uz
NUXT_PUBLIC_ADMIN_TELEGRAM=doniyorbek_ergashev
NUXT_PUBLIC_VAPID_KEY=
NUXT_PUBLIC_PAYMENT_CARD_1=4067070007722601
NUXT_PUBLIC_PAYMENT_CARD_2=9860260115547846
NUXT_PUBLIC_PAYMENT_CARD_OWNER=Doniyor Mirgiyozov
