NUXT_PUBLIC_BASE_URL=https://YOUR-API.onrender.com/api/v1
NUXT_PUBLIC_SOCKET_URL=https://YOUR-API.onrender.com
NUXT_PUBLIC_APP_URL=https://YOUR-APP.vercel.app
NUXT_PUBLIC_ADMIN_TELEGRAM=doniyorbek_ergashev
NUXT_PUBLIC_VAPID_KEY=
