NUXT_PUBLIC_BASE_URL=/api/v1
NUXT_PUBLIC_SOCKET_URL=https://api.zortaksi.uz
NUXT_PUBLIC_APP_URL=https://www.zortaksi.uz
NUXT_API_PROXY_TARGET=https://api.zortaksi.uz
NUXT_SSR_API_BACKEND=https://api.zortaksi.uz
NUXT_DEV_API_BACKEND=http://127.0.0.1:5000
NUXT_PUBLIC_ADMIN_TELEGRAM=zortaksi_admin
NUXT_PUBLIC_PAYMENT_CARD_1=4067070007722601
NUXT_PUBLIC_PAYMENT_CARD_2=9860260115547846
NUXT_PUBLIC_PAYMENT_CARD_OWNER=Doniyor Mirgiyozov
